@font-face{
    font-family:myFont;
    src:url('font/GE_SS_Two_Bold.otf');
}

@font-face {
    font-family: myFont2;
    src: url('font/DroidKufi-Regular.ttf');
}

.navbar-default{
    font-family:myFont;
}
body {
}
